---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
const relatedFrameworks = await getEntries(project.data.frameworks);
const relatedLanguages = await getEntries(project.data.languages);
---

<h2>At a glance</h2>

<section class="card">
  <h3>Languages</h3>
  <ul class="flex-container unstyled">
    {
      relatedLanguages.map((lang) => (
        <li title={lang.data.name}>
          <Image src={lang.data.icon} alt={lang.data.name} width={55} />
        </li>
      ))
    }
  </ul>

  <h3>Frameworks and Technologies</h3>
  <ul class="flex-container unstyled">
    {
      relatedFrameworks.map((framework) => (
        <li title={framework.data.name}>
          <Image src={framework.data.icon} alt={framework.data.name} width={55} />
        </li>
      ))
    }
  </ul>
</section>

<style>
  .flex-container {
    display: flex;
    align-items: center;
    gap: var(--space-8);
    flex-wrap: wrap;
  }
</style>
