---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { post: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <div class="prose">
    <h1>{post.data.title}</h1>
    <dl>
      <dt>Author:</dt>
      <dd>{post.data.author}</dd>

      <dt>Published:</dt>
      <dd>
        <time datetime={post.data.pubDate.toISOString()}>
          {post.data.pubDate.toLocaleDateString()}
        </time>
      </dd>

      <dt>Abstract:</dt>
      <dd>{post.data.description}</dd>
    </dl>

    <hr />
    <Content />
  </div>
</Layout>
