---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { OpenGraphDefaults } from "../lib/classes/OpenGraphDefaults";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const pageTitle = "Garbage Collection";
const description = "Code shenanigans by a self-taught underachiever.";

const metaTags = {
  title: pageTitle,
  description: description,
  openGraph: OpenGraphDefaults.getOpenGraphObject(
    Astro.url,
    pageTitle,
    description,
  ),
};
---

<Layout title={pageTitle} description={description} metaTags={metaTags}>
  <div class="prose">
    <h1>Garbage Collection</h1>
    <p>
      As is known, everyone who fails at actual development becomes a tech
      writer instead. So naturally, here is my blog.
    </p>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}`}>
              <time datetime={post.data.pubDate.toISOString()}>
                {post.data.pubDate.toLocaleDateString()}
              </time>
              <span> — </span>
              <span>{post.data.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
