---
import { OpenGraphDefaults } from "../lib/classes/OpenGraphDefaults";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { ProjectFilterSection } from "../components/solid/projects/ProjectFilterSection";

const pageTitle = "My personal projects";
const description =
  "Discover my work, from mobile apps to websites and backends.";

const metaTags = {
  title: pageTitle,
  description: description,
  openGraph: OpenGraphDefaults.getOpenGraphObject(
    Astro.url,
    pageTitle,
    description,
  ),
};

const languages = (await getCollection("languages")).map((lang) => lang.data);
const frameworks = (await getCollection("frameworks")).map((fr) => fr.data);
const projects = (await getCollection("projects"));
---

<Layout title={pageTitle} description={description} metaTags={metaTags}>
  <section>
    <p class="subheader">My Projects</p>
    <h1>Discover my work</h1>
    <p>Projects are WIP as I just moved away from GitHub.</p>
  </section>

  <section class="project-filter-section">
    <ProjectFilterSection
      client:load
      projects={projects}
      languages={languages}
      frameworks={frameworks}
    />
  </section>
</Layout>

<style>
  .subheader {
    font-weight: var(--font-bold);
    color: var(--color-secondary);
  }
</style>
