---
import "@knadh/oat/oat.min.css";
import "../styles/site.css";
import Footer from "../components/astro/Footer.astro";
import { OpenGraphDefaults } from "../lib/classes/OpenGraphDefaults";
import AppBar from "../components/astro/nav/AppBar.astro";
import NavbarLinks from "../components/astro/nav/NavbarLinks.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  metaTags?: any;
}

const {
  title = OpenGraphDefaults.title,
  description = OpenGraphDefaults.description,
  image = OpenGraphDefaults.ogImageName,
  metaTags,
} = Astro.props;

// Compute meta tags
const url = Astro.url;
const ogImage = `${url}${image}`;
const canonicalURL = url;

// Merge with any provided meta tags
const finalMetaTags = {
  title,
  titleTemplate: "web-dbt | %s",
  description,
  canonical: canonicalURL,
  openGraph: OpenGraphDefaults.getOpenGraphObject(url, title, description),
  ...metaTags,
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1"
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- Basic Meta Tags -->
    <title>{finalMetaTags.title}</title>
    <meta name="description" content={finalMetaTags.description} />
    <link rel="canonical" href={finalMetaTags.canonical} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={finalMetaTags.openGraph.type} />
    <meta property="og:url" content={finalMetaTags.openGraph.url} />
    <meta property="og:title" content={finalMetaTags.openGraph.title} />
    <meta
      property="og:description"
      content={finalMetaTags.openGraph.description}
    />
    <meta property="og:image" content={finalMetaTags.openGraph.images[0].url} />
    <meta
      property="og:image:alt"
      content={finalMetaTags.openGraph.images[0].alt}
    />
    <meta property="og:site_name" content={finalMetaTags.openGraph.siteName} />

    <script>
      import "@knadh/oat/oat.min.js";
    </script>
  </head>

  <body data-sidebar-layout="always">
    <AppBar />

    <aside data-sidebar>
      <ul class="unstyled">
        <NavbarLinks />
      </ul>
    </aside>

    <main>
      <slot />
      <div class="divider"></div>
      <Footer />
    </main>
  </body>
</html>
